@tailwind base;
@tailwind components;
@tailwind utilities;

.gallery-swiper {
  padding-bottom: 3rem !important;
}

.gallery-swiper .swiper-button-next,
.gallery-swiper .swiper-button-prev {
  color: #60A5FA;
}

.gallery-swiper .swiper-pagination-bullet {
  background: #60A5FA;
}

.gallery-swiper .swiper-pagination-bullet-active {
  background: #2563EB;
}

html {
  scroll-behavior: smooth;
}

nav ul li a {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
}

nav ul li a:hover {
  background-color: rgba(59, 130, 246, 0.1); /* Blue hover background */
}